/* Modal Styles */
.modal {
  border-radius: 10px;
  background: var( --primery-color-white);
  padding: 24px 12px;
  min-width: 160px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Modal Header */
.modalHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  height: auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modalHeader h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primery-color-black);
  margin: 0;
}

.modalClose {
  background-color: transparent;
  padding: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.modalClose svg {
  width: 24px;
  height: 24px;
  fill: var(--primery-color-white);
  stroke: var( --primery-color-blue);
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modalClose:hover svg {
  background-color: rgba(64, 123, 255, 0.2);
  transform: scale(1.3);
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: rgb(47, 47, 47);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.formGroupWater {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.formGroupTime {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: rgb(47, 47, 47);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.formLabel {
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
  color: rgb(47, 47, 47);
}

.label {
  font-size: 16px;
  line-height: 1.25;
  color: rgb(47, 47, 47);
  margin-bottom: 12px;
}

.labelWater {
  color: rgb(47, 47, 47);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 12px;
}

/* Amount Buttons */
.amountButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.amountButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 30px;
  border: 1px solid var( --primery-color-blue);
  background-color: var(--primery-color-white);
  color: var( --primery-color-blue);
  fill: var( --primery-color-blue);
  box-shadow: rgba(64, 123, 255, 0.2) 0px 2px 4px;
}

.amountButtons span {
  font-size: 1.2rem;
}

.amountTotalWater {
  font-size: 18px;
  font-weight: 700;
  width: 92px;
  height: 36px;
  border-radius: 40px;
  color: var(--primery-color-blue);
  background-color: var(--primery-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

/* Submit Button */
button[type="submit"] {
  align-self: center;
  color: var(--primery-color-white);
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  width: 100%;
  height: 44px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--primery-color-blue);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button[type="submit"]:active {
  background-color: #0047a3;
}

/* Custom Input Styles */
.customField {
  border: 1px solid var(--primery-color-blue);
  border-radius: 6px;
  padding: 12px 10px;
  font-size: 16px;
  color: var(--primery-color-blue);
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%; 
}

.customField:focus {
  border-color: #0056b3;
}

.customField::placeholder {
  color: #a3a3a3;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.customField[type="time"] {
  color: var(--primery-color-blue);
}


/* Form Footer */
.formFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.totalWater {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--primery-color-blue);
  display: inline-block;
  align-items: center;
}

/* Edit Info Section */
.editInfo {
  display: flex;
  align-items: center;
  width: 254px;
  height: 52px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(215, 227, 255);
  padding: 8px 24px;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.editInfo strong {
  color: var(--primery-color-blue);
  font-size: 18px;
  font-weight: 400;
}

.editInfo .time {
  color: rgb(47, 47, 47);
}

.glassOfWater {
  fill: var(--primery-color-blue);
  width: 36px;
  height: 36px;
}

.watericon {
  fill: var(--primery-color-blue);
  width: 36px;
  height: 36px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 32px 24px;
  }

  .formFooter {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }

  button[type="submit"] {
    width: auto;
    max-width: 160px;
    padding: 12px 40px;
  }

  .customField {
    border: 1px solid var(--secondary-color---5);
    border-radius: 6px;
    width: 544px;
    height: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 592px;
    padding: 32px 24px;
  }

  button[type="submit"] {
    width: auto;
    max-width: 200px;
    padding: 14px 50px;
  }

  .customField {
    border: 1px solid #d7e3ff;
    border-radius: 6px;
    width: 544px;
    height: 44px;
  }
}
