/* Modal Styles */
.modal {
  border-radius: 10px;
  background: var(--primery-color-white);
  padding: 24px 12px;
  min-width: 160px;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Modal Header */
.modalHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  height: auto;
  gap: 24px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.modalHeader h2 {
  font-size: 26px;
  line-height: 1.2;
  color: var(--primery-color-black);
}

.modalClose:hover svg {
  background-color: rgba(64, 123, 255, 0.2);
  transform: scale(1.3);
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--primery-color-black);
  padding-bottom: 4px;
}
.formGroupWater {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formGroupTime {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--primery-color-black);
  max-width: 240px;
  padding-bottom: 4px;
}

.labelWater {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primery-color-black);
}

.error {
  color: var(--secondary-color-3);
  font-size: 12px;
  margin-top: 5px;
}

.amountButtons {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-direction: row;
  width: 100%;
}

.amountTotalWater {
  width: 92px;
  height: 36px;
  border-radius: 40px;
  padding: 6px 10px;
  background: var(--secondary-color---5);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--primery-color-blue);
}
.field {
  width: 100%;
}
/* Form Footer */
.formFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.totalWater {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--primery-color-blue);
}

/* Edit Info Section */
.editInfo {
  display: flex;
  align-items: center;
  width: 256px;
  height: 52px;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--secondary-color-2);
  padding: 8px 24px;
  gap: 16px;
}

.editInfo strong {
  color: var(--primery-color-blue);
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
}

.editInfo .time {
  font-size: 12px;
  line-height: 2;
  color: var(--primery-color-black);
}

.watericon {
  fill: var(--primery-color-blue);
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 32px 24px;
  }

  .formFooter {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }
  .label {
    max-width: 350px;
  }
  .field {
    width: 100%;
  }
  .editInfo {
    width: 254px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 592px;
    padding: 32px 24px;
  }
}
