/* .modal {
  position: absolute;
  top: 0;
  right: 20px;
  width: 118px;
  height: 88px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  background: var(--primery-color-white);
} */


.modal {
  position: absolute;
  top: 34px;
  right: 0;
  width: 118px;
  height: 88px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  background: var(--primery-color-white);
}

.modalBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  color: var(--primery-color-blue);
  transition: color 300ms ease;
}

.modalBtn:hover,
.modalBtn:focus {
  color: var(--secondary-color-5);
}

.modalText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}