.field {
  display: flex;
  margin-bottom: 5px;
  border-radius: 6px;
  padding: 12px 10px;
  border: 1px solid var(--secondary-color---5);
  width: 280px;
  height: 44px;
  background: var(--primery-color-white);
  font-size: 16px;
  line-height: 125%;
  color: var(--primery-color-blue);
  caret-color: var(--primery-color-black);
}
.field::placeholder {
  font-size: 16px;
  line-height: 125%;
  color: var(--secondary-color-4);
}
.field:focus {
  outline: none;
  font-size: 16px;
  line-height: 125%;
  color: var(--primery-color-blue);
}

.error {
  color: var(--secondary-color-3);
  border: 1px solid var(--secondary-color-3);
}

.errormes{font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #f16161;
margin-top: 4px;}

@media screen and (min-width: 768px) {
  .field {
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .field {
    width: 384px;
  }
}
