.homepage {
 width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.background {
  position: absolute;
  /* background-image: url("../../assets/homepage/backgroundmobilehome.svg"); */
  background-image: var(--backgroundmanemob2);
  background-repeat: no-repeat;
background-size: cover;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.topcontent {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.bottle {
  position: relative;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.rangeblok {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.bottle svg {
  max-height: 208px;
  margin: 0 auto;
  height: 100%;
}
.today {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  padding: 24px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color-2);
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 16px;
  width: 100%;
  color: var(--primery-color-black);
}
.titlemonth {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: var(--primery-color-black);
}

.list {
  height: 264px;
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding-top: 100px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .background {
    /* background-image: url("../../assets/homepage/backgroundtablethome.svg"); */
    background-image: var(--backgroundmanetab2);
  }

  .rangeblok {
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
  }

  .bottle svg {
    max-height: 376px;
  }

  .dayli {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .background {
    background-image: var(--backgroundmanedesc2);
  }
  .homepage {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 32px;
  }
  .bottle svg {
    max-height: 548px;
  }
  .topcontent {
    gap: 24px;
    height: 100%;
  }
  .botomcontent {
    width: 50%;
  }
  .bottle svg {
    max-height: 548px;
  }
}
