.container {
  position: relative;
  display: inline-block;
}

.userLogoBtn {
  width: auto;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0;
  color: var(--primery-color-black);
  transition: color 300ms ease;
}

.userLogoBtn:hover,
.userLogoBtn:focus {
  color: var(--secondary-color-5);
}

.userLogoBtnText {
  width: 66px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: right;
  flex-shrink: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 4px 0;
}

.userLogoBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.userLogoBtnAvatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid var(--primery-color-black);
  overflow: hidden;
  transition: border 300ms ease;
}

.userLogoBtn:hover .userLogoBtnAvatarWrapper,
.userLogoBtn:focus .userLogoBtnAvatarWrapper {
  border: 1px solid var(--secondary-color-5);
}

.userLogoBtnAvatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .userLogoBtnText {
    width: 100%;
    font-size: 18px;
    line-height: 1.33;
    padding: 2px 0;
  }
}
