.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--primery-color-blue);
  transition: var(--transition);
}

.button:hover,
.button:focus {
  color: var(--secondary-color-5);
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
    line-height: 133%;
  }
}
