.container {
  border-radius: 10px;
  padding: 32px 24px;
  width: 1008px;
  height: 592px;
  background: var(--primery-color-white);
  position: relative;
}

/* .formWrapper {
  padding-top: 32px;
  padding-right: 24px;
  padding-left: 24px;
} */

.mainTitle {
  padding-bottom: 24px;
  color: var(--primery-color-black);
}

.wrapperToBtn {
  padding-bottom: 100px;
}

.closeBtn {
  color: var(--primery-color-blue);
  position: absolute;
  top: 30px;
  right: 24px;
}

.photoTitle {
  padding-bottom: 8px;
  color: var(--primery-color-black);
}

.imgWrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
  align-items: center;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.uploadSvg {
  stroke: var(--primery-color-blue);
}

.buttonUpload {
  display: flex;
  gap: 8px;
  color: var(--primery-color-blue);
  position: relative;
}

.userLogoBtnAvatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid var(--primery-color-black);
  overflow: hidden;
  transition: border 300ms ease;
}

.spanValue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid var(--primery-color-black);
  overflow: hidden;
  transition: border 300ms ease;
  font-size: x-large;
  color: var(--primery-color-blue);
}

.uploadPhotoInput {
  display: none;
}

.wrapperTwoBlocks {
  display: flex;
  gap: 24px;
}

.firstWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* .buttonUpload {

} */

.genderTitle {
  padding-bottom: 12px;
  color: var(--primery-color-black);
}

.genderOptions {
  display: flex;
  padding-bottom: 52px;
  gap: 24px;
}

.genderInput {
  margin-left: 8px;
  color: var(--primery-color-black);
}

.labelUserName {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 24px;
  color: var(--primery-color-black);
}

.labelUser {
  display: flex;
  gap: 8px;
  flex-direction: column;
  color: var(--primery-color-black);
}

.nameAndEmailInput {
  width: 100%;
}

.passwordTittle {
  color: var(--primery-color-black);
}

.passwordWrapper {
  flex: 1;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
  padding-right: 152px;
}

.passwordTitle {
  color: var(--primery-color-black);
}

.labelPassword {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  color: var(--primery-color-black);
}

.eyeIcon {
  stroke: var(--primery-color-blue);
  position: absolute;
  top: 40px;
  right: 16px;
}

.btn {
  position: absolute;
  right: 24px;
  bottom: 32px;
  border: none;
  border-radius: 10px;
  height: 36px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--primery-color-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--primery-color-white);
  transition: box-shadow 0.3s ease;
  width: 160px;
}

.btn:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}
.btn:active {
  box-shadow: none;
}

.formik-error {
  color: red;
  font-size: 12px;
  margin-bottom: -5px;
}

.input {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .container {
    width: 704px;
    height: 860px;
  }

  .wrapperTwoBlocks {
    flex-direction: column;
  }
}

@media screen and (max-width: 376px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 280px;
    max-height: 852px;
  }
  .btn {
    position: inherit;
    width: 256px;
    margin-top: 24px;
  }

  .passwordWrapper {
    padding-right: 0px;
  }
}
