.popUp {
  position: absolute;
  top: -188px;
  left: 0;
  background: var(--primery-color-white);
  width: 280px;
  min-height: 188px;
  padding: 24px 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
}

.data {
  font-size: 18px;
  color: var(--primery-color-blue);
}

.date {
  color: var(--primery-color-blue);
}
.text {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primery-color-black);
}
