.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 4px 12px 0;
  gap: 38px;
  border-bottom: 1px solid #d7e3ff;
  flex-grow: 10;
  /*border-bottom: 1px solid var(--secondary-color-5);*/
}
.leftcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.watericon {
  fill: #407bff;
}

.volumewater {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #407bff;
  /*color: var(--primery-color-blue);*/
}

.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #2f2f2f;
  /*color: var(--primery-color-black);*/
}

.rightcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.pencilicon {
  padding: 5px;
  stroke: #407bff;
}

.trashicon {
  padding: 5px;
  stroke: #ef5050;
}
