.wrapper {
  width: 280px;
  height: 396px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: space-between;
}

.h3 {
  height: 24px;
  font-weight: 500;
  font-size: 26px;
  color: var(--primery-color-black);
  margin-bottom: 16px;
}

.label {
  display: block;
  text-align: left;
  color: var(--primery-color-black);
  margin-bottom: 8px;
}
.passwordWrapper {
  position: relative;
}
.psw {
  display: flex;
  align-items: center;
  position: relative;
}

.field {
  margin: 0;
}

.field:invalid {
  color: var(--secondary-color-3);
  border: 1px solid var(--secondary-color-3);
}

.icon {
  stroke: var(--primery-color-blue);
  position: absolute;
  right: 10px;
  top:15px;
  cursor: pointer;
}
/* .field:invalid icon {
  top: 50%;
  transform: translateY(-50%);
} */

.link {
  color: var(--primery-color-blue);
  font-size: 16px;
  padding: 0;
}

.link:hover {
  color: var(--secondary-color-5);
}

.errorEmail,
.errorPswrd,
.errorRepeatPswrd {
  color: var(--secondary-color-3);
}

/*____________________ TABLET _______________________*/

@media screen and (min-width: 768px) and (max-width: 1439.9px) {
  .wrapper {
    width: 336px;
    height: 312px;
  }

  .h3 {
    height: 32px;
  }
  .psw {
    width: 336px;
  }
  .input {
    width: 336px;
  }
  .btn {
    width: 336px;
    height: 44px;
  }
}

/*____________________ DESKTOP _______________________*/

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 384px;
  }
  .psw {
    width: 384px;
  }
  .input {
    width: 384px;
  }
  .btn {
    width: 384px;
    height: 44px;
  }
}
