.modalContent {
  border-radius: 10px;
  padding: 10px 12px;
  background: var(--primery-color-white);
  width: 280px;
}
.modalForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 21px;
  line-height: 1.23;
  color: var(--primery-color-black);
}
.closeBtn:hover svg {
  background-color: rgba(64, 123, 255, 0.2);
  transform: scale(1.3);
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.topWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.for {
  font-size: 14px;
  line-height: 1.25;
  color: var(--primery-color-black);
}

.formula {
  font-size: 14px;
  line-height: 1.33;
  color: var(--primery-color-blue);
}
.forWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.modalDescr {
  border: 1px solid var(--secondary-color---5);
  border-radius: 10px;
  padding: 4px;
  width: 256px;
  color: #8f8f8f;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.33;
}
.modalDescr span {
  color: var(--primery-color-blue);
}
.titleLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.11;
  color: var(--primery-color-black);
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.radioBtnWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.hiddenRadio {
  display: none;
}
.customRadio {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--primery-color-blue);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.hiddenRadio:checked + .customRadio {
  background-color: var(--primery-color-white);
}
.hiddenRadio:checked + .customRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: var(--primery-color-blue);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.radio {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.span {
  color: var(--primery-color-black);
  font-size: 14px;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: var(--primery-color-black);
}
.text1 {
  width: 190px;
}
.field {
  width: 100%;
  height: 36px;
  font-size: 14px;
  margin: 0;
}

.field::placeholder {
  color: var(--primery-color-blue);
  font-size: 14px;
}
.amountWraper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.spanResult {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  color: var(--primery-color-blue);
}
.error {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: var(--secondary-color-3);
  margin-top: 2px;
}

@media screen and (min-width: 768px) {
  .modalContent {
    width: 704px;
    padding: 32px 24px;
  }
  .modalForm {
    gap: 24px;
  }
  .topWrapper {
    gap: 12px;
  }
  .wrapper {
    gap: 16px;
  }
  .forWrapper {
    flex-direction: row;
    gap: 24px;
  }
  .for {
    font-size: 16px;
  }
  .modalDescr {
    width: 656px;
    padding: 9px;
    font-size: 12px;
  }
  .formula {
    font-size: 18px;
  }
  .title {
    font-size: 26px;
  }
  .text {
    font-size: 16px;
  }
  .text1 {
    width: 328px;
  }
  .titleLabel {
    font-size: 18px;
    padding-bottom: 8px;
  }
  .span {
    font-size: 16px;
  }

  .field {
    height: 44px;
    font-size: 16px;
  }
  .field::placeholder {
    font-size: 16px;
  }
  .spanResult {
    font-size: 18px;
  }
  .btn {
    display: flex;
    justify-content: end;
  }
}

@media screen and (min-width: 1440px) {
  .modalContent {
    width: 592px;
  }
  .modalDescr {
    width: 544px;
  }
}
.error {
  font-size: 16px;
  margin-top: 4px;
}
