.button {
  border: none;
  border-radius: 10px;
  height: 36px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--primery-color-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--primery-color-white);
}

.button:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}
.button:active {
  box-shadow: none;
}
.trytracker,
.signin,
.signup {
  padding: 8px 30px;
  width: 280px;
}

.addwater {
  width: 280px;
  padding: 6px 76px;
}

.save {
  padding: 8px 30px;
  width: 256px;
}

.logout,
.delete {
  padding: 8px 30px;
  width: 232px;
  background: var(--secondary-color-3);
}
.cancel {
  padding: 8px 30px;
  width: 232px;
  background: var(--secondary-color---5);
  color: var(--primery-color-blue);
  box-shadow: none;
}
.cancel:hover {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .button {
    height: 44px;
    font-size: 18px;
    line-height: 133%;
  }

  .trytracker,
  .signin,
  .signup {
    padding: 10px 30px;
    width: 336px;
  }
  .addwater {
    padding: 10px 104px;
    width: 336px;
  }
  .save {
    width: 160px;
    padding: 10px 30px;
  }
  .logout,
  .cancel,
  .delete {
    padding: 10px 30px;
    width: 160px;
  }
}

@media screen and (min-width: 1440px) {
  .trytracker,
  .signin,
  .signup {
    width: 384px;
  }
  .addwater {
    width: 178px;
    padding: 10px 30px;
  }
}
